<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sidenav>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </button>

            <div>
                <ul fxLayout="row" fxLayoutGap="4rem">
                    <li>
                        <a routerLink="welcome" >Home</a>
                    </li>
                    <li>
                        <a routerLink="products">Products</a>
                    </li>
                    <li>
                        <a routerLink="signup">Signup</a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>


