a{
    text-decoration: none;
    color: white;
}

mat-sidenav-container, mat-sidenav, mat-sidenav-content{
    height: 100%;
    
}
mat-sidenav{
    width:25rem;
    background-color: yellow;
}

ul,li{
    text-decoration: none;
    list-style: none;
}

